 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 478px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: underline !important;
  width: 107px;
  margin: 24px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  margin: 49px 0 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}